body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#computer a{
	font-size: 12px;
	font-weight:bold;

}

.card-body h5{
	font-size: 40px;
	color:#2fa8de;
			}


.card-body h6{
	font-size: 32px;
	color:#2fa8de;
			}

.card-body h6{
	font-size: 32px;
	color:#2fa8de;
				}
.card-body h4{
	font-size: 32px;
	color:#000;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 5%;
	top:10%;
}

.card-mobile {
  width: 70%;
  margin-left: 20px;
}


button {
	background-color: #2fa8de;

}

.nav{
	 background-color:rgba(0,255,255,0.5);
}


#more{
	display:none;

}
#more1{
	display:none;

}
.container-fluid h3 {
font-size:32px;
color:#000;
text-align: center;
}

.container h3 {
	font-size:32px;
}


.mobile button {
background-color: #fff;
}

body > *{
max-width: 1920px;
}


@media (min-width:918px){
    .mobile{
        display: none;
    }

    .up{
      margin-top:50px;

    }
    .down{
      margin-top: 50px;
    }


}


@media (max-width:917px){
    #computer{

        display: none;
    }

    .up{
      /*margin-top: 20px;
      margin-bottom: 20px;*/
      padding: 0 0 0 0;
    }

    .down{

      padding:0 0 0 0;

    }

    .up .card-mobile{
      width:50%;
      margin-top: 10%;
      margin-bottom: 10%;
      font-size: 14px;

    }

    .down .card-mobile{
      width:50%;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left:50%;
      font-size: 14px;

    }
}




.fa-1x {
font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}

/*
.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
}
.card:hover{
  transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(black, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.info{
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
h1 {
  margin: 0px;
}
p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
 */
