body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Montserrat", "Raleway"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.card-body h5{
	font-size: 40px;
	color:#2fa8de;
			}


.card-body h6{
	font-size: 32px;
	color:#2fa8de;
			}

.card-body h6{
	font-size: 32px;
	color:#2fa8de;
				}
.card-body h4{
	font-size: 32px;
	color:#000;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 5%;
	top:10%;
			}


button {
	background-color: #2fa8de;

}

.nav{
	 background-color:rgba(0,255,255,0.5);
}


#more{
	display:none;

}
#more1{
	display:none;

}
.container-fluid h3 {
font-size:32px;
color:#fff;
text-align: center;
font-weight: 700
}

.container h3 {
	font-size:32px;
}

.mySlides {
  display: none;
}


.mobile button {
background-color: #fff;
}

body > *{
max-width: 1920px;
}


@media (min-width:918px){
    .mobile{
        display: none;
    }

    .up{
      margin-top:50px;

    }
    .down{
      margin-top: 50px;
    }


}


@media (max-width:917px){
    #computer{

        display: none;
    }

    .up{
      /*margin-top: 20px;
      margin-bottom: 20px;*/
      padding: 0 0 0 0;
    }

    .down{

      padding:0 0 0 0;

    }

    .up .card-mobile{
      width:50%;
      margin-top: 10%;
      margin-bottom: 10%;
      font-size: 14px;

    }

    .down .card-mobile{
      width:50%;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left:50%;
      font-size: 14px;

    }



}




.fa-1x {
font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}




.boxes-wrapper img {
	width: 100%;
	height:auto;
	padding:5% 0% 5% 0%;
}

/* HOVER EFFECT FOR PICTURES */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;


}

.container :hover .overlay {
  height: 100%;
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar-space {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 30%;
  padding: 1rem;
  align-items: center;
}

a.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.button-apply {
  background-color: #2fa8de;
  color: #ffffff;
  border-radius: 25px;
  width: 19%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 19px!important;
  background-color:#2fa8de;
  color: #fff !important;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.text-align {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 800;
  font-size: 35px;
  width: 95%;
}

.title-results{
  position: absolute;
  width: 100%;
  font-size: 45px;
  padding-top: 40px;
  font-weight: bold;
  color: white;
}

.photo-grey img {
filter: brightness(0.5);
-webkit-filter: brightness(0.5);
}

h2.timer.count-title.count-number {
    font-weight: 800;
    font-size: 35px;
}

.our-mission {
  position:absolute;
  background: url('../public/image/path1.png') ;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-our-mission {
  margin-top: 15%;
}

.the-program {
  background: url('../public/image/path4.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.white-color {
  font-size: 20px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.alumni{
  margin-top: 250px;
}

.ecosystem {
  background-color: white;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: -5px -6px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px -6px 6px 1px rgba(0,0,0,0.75);
  box-shadow: -5px -6px 6px 1px rgba(0,0,0,0.75);
}

.ecosystem p {
  color: black;
  font-weight: 400;
}

.title-eco {
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin-top: 5rem;
  padding-bottom: 40px;
}

.ecosystem-contain {
  padding-left: 60px;
  padding-right: 60px;
}

.text-img {
  margin-top: 5%;
}

.center-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.background-half {
  background-image: url('../public/image/path2.png');
  background-repeat: no-repeat;
}

.background-blue-grey {
  background: #313131;
}

.list-item {
  padding: 8px;
  margin: auto;
  display: flex;
  padding-left: 80px;
}

.list-item ul {
  list-style: none;
  color: white;
  font-weight: 700;
}

.list-item ul li p {
  font-size: 13px;
  padding: 10px;
  border-left: solid;
  border-color: #2197d6;
}

.background-blue {
  background-color: #3ea8c2;
  color: white;
}

.blue-center {
  margin: 0 auto;
  width: 55rem;
}



@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.top-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content-mentor {
  background-color: #313131;
}

.carousel-item img {
  border-radius: 50%;
}
